@font-face {
    font-family: 'Roboto-Regular';
    src: url('./fonts/Roboto-Regular.woff');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto-Regular';
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.header, .main-section {
    background-color: #EEEFF1;
    max-width: 1920px;
    padding: 0, 20px;
    margin: 0 auto;
}

.fixed-container {
    padding: 0 20px;
    max-width: 1240px;
    margin: 0 auto;
}

.menu-container {
    padding-top: 67px;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 45px;
}

.menu {
    display: flex;
}

.header-menu {
    padding-top: 6px;
}

nav ul li {
    text-transform: uppercase;
    font-size: 16px;
}

nav ul li a {
    margin-right: 40px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 0.1em;
}

nav ul li a:hover {color: #34547A;}

.section-container {
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
}

.laptop {
    padding-left: 134px;
    padding-top: 30px;
}

.caption {
    font-size: 48px;
    margin-bottom: 40px;
}

.description {
    width: 580px;
    margin-bottom: 55px;
    line-height: 25px;
}

.button {
    width: 225px;
    height: 65px;
    background-color: #34547A;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
}